.quote-container {
  border-left: 4px solid #1e8947;
  padding-left: 20px;
  margin: 20px;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}
.quote-container::before {
  content: "“";
  font-size: 50px;
  color: #333;
  position: absolute;
  top: 10px;
  left: -30px;
}
.quote-container::after {
  content: "”";
  font-size: 50px;
  color: #333;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
blockquote {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
}
cite {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.heading-container {
  text-align: center;
}
.heading-container h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  position: relative;
  display: inline-block;
}
.heading-container h1::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background-color: #1e8947;
  margin: 8px auto 0;
}
.course-category-buttons-container {
  padding-bottom: 1rem; /* Space below buttons for scroll bar */
  margin-bottom: 1rem; /* Space below buttons for visual separation */
}

.course-category-buttons {
  display: flex;
  justify-content: start;
  gap: 16px;
  white-space: nowrap;
}
